{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "warn",
    "prefer-const": "warn",
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns-type": 0,
    "jsdoc/require-jsdoc": [
      1,
      {
        "publicOnly": true,
        "require": {
          "ArrowFunctionExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "ClassDeclaration": true,
          "ClassExpression": true,
          "MethodDefinition": true
        }
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "settings": {
    "jsdoc": {
      "ignoreInternal": true,
      "ignorePrivate": true
    }
  },
  "plugins": ["jsdoc", "simple-import-sort"]
}
