.aGrow {
  transform: scale(0);
  animation-name: aGrow;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}

.aShrink {
  transform: scale(1);
  animation-name: aShrink;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}

@keyframes aGrow {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes aShrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
