.sito-ui-button {
  --sito-ui-button-text: var(--sito-ui-color-primary-text);
  --sito-ui-button-light: var(--sito-ui-color-primary-light);
  --sito-ui-button-default: var(--sito-ui-color-primary-default);
  --sito-ui-button-dark: var(--sito-ui-color-primary-dark);

  display: flex;
  font-weight: var(--sito-ui-font-weight-semibold);
  cursor: default;
  align-items: center;
  justify-content: center;
  padding: var(--sito-ui-space-2) var(--sito-ui-space-7);
  border-radius: var(--sito-ui-radius-pill);
  border: var(--sito-ui-border-width-medium) solid transparent;
  background-color: transparent;
  transition-duration: var(--sito-ui-motion-duration-normal);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: var(--sito-ui-motion-easing-standard);
}

.sito-ui-button--primary {
  --sito-ui-button-text: var(--sito-ui-color-primary-text);
  --sito-ui-button-light: var(--sito-ui-color-primary-light);
  --sito-ui-button-default: var(--sito-ui-color-primary-default);
  --sito-ui-button-dark: var(--sito-ui-color-primary-dark);
}

.sito-ui-button--secondary {
  --sito-ui-button-text: var(--sito-ui-color-secondary-text);
  --sito-ui-button-light: var(--sito-ui-color-secondary-light);
  --sito-ui-button-default: var(--sito-ui-color-secondary-default);
  --sito-ui-button-dark: var(--sito-ui-color-secondary-dark);
}

.sito-ui-button--basics {
  --sito-ui-button-text: var(--sito-ui-color-basics-text);
  --sito-ui-button-light: var(--sito-ui-color-basics-light);
  --sito-ui-button-default: var(--sito-ui-color-basics-default);
  --sito-ui-button-dark: var(--sito-ui-color-basics-dark);
}

.sito-ui-button--error {
  --sito-ui-button-text: var(--sito-ui-color-error-text);
  --sito-ui-button-light: var(--sito-ui-color-error-light);
  --sito-ui-button-default: var(--sito-ui-color-error-default);
  --sito-ui-button-dark: var(--sito-ui-color-error-dark);
}

.sito-ui-button--warning {
  --sito-ui-button-text: var(--sito-ui-color-warning-text);
  --sito-ui-button-light: var(--sito-ui-color-warning-light);
  --sito-ui-button-default: var(--sito-ui-color-warning-default);
  --sito-ui-button-dark: var(--sito-ui-color-warning-dark);
}

.sito-ui-button--success {
  --sito-ui-button-text: var(--sito-ui-color-success-text);
  --sito-ui-button-light: var(--sito-ui-color-success-light);
  --sito-ui-button-default: var(--sito-ui-color-success-default);
  --sito-ui-button-dark: var(--sito-ui-color-success-dark);
}

.sito-ui-button--info {
  --sito-ui-button-text: var(--sito-ui-color-info-text);
  --sito-ui-button-light: var(--sito-ui-color-info-light);
  --sito-ui-button-default: var(--sito-ui-color-info-default);
  --sito-ui-button-dark: var(--sito-ui-color-info-dark);
}

.sito-ui-button--text {
  color: var(--sito-ui-button-default);
}

.sito-ui-button--basics.sito-ui-button--text {
  color: var(--sito-ui-button-text);
}

.sito-ui-button--text:hover {
  color: var(--sito-ui-button-default);
  background-color: var(--sito-ui-button-hover-background);
}

.sito-ui-button--basics.sito-ui-button--text:hover {
  color: var(--sito-ui-button-text);
}

.sito-ui-button--filled {
  color: var(--sito-ui-button-text);
  background-color: var(--sito-ui-button-default);
}

.sito-ui-button--filled:hover {
  background-color: var(--sito-ui-button-light);
}

.sito-ui-button--outlined {
  color: var(--sito-ui-button-default);
  border-color: var(--sito-ui-button-default);
}

.sito-ui-button--basics.sito-ui-button--outlined {
  color: var(--sito-ui-button-text);
}

.sito-ui-button--outlined:hover {
  color: var(--sito-ui-button-text);
  border-color: var(--sito-ui-button-light);
  background-color: var(--sito-ui-button-light);
}

.sito-ui-button:disabled,
.sito-ui-button[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: var(--sito-ui-button-disabled-opacity);
}
