@tailwind components;

@layer components {
  .button {
    @apply flex items-center justify-center px-7 py-2 rounded-3xl transition duration-300 font-semibold cursor-default;
  }
  .outlined.button {
    @apply border-2;
  }

  .primary.button {
    color: theme(color.primary.default);
  }
  .primary.button:hover {
    color: theme(color.primary.200);
  }

  .primary.submit.button {
    background-color: theme(color.primary.default);
  }

  .primary.submit.button:hover {
    background-color: theme(color.primary.200);
  }
  .primary.outlined.button {
    border-color: theme(color.primary.default);
  }
  .primary.outlined.button:hover {
    background-color: theme(color.primary.default);
  }

  .secondary.button {
    color: theme(color.secondary.default);
  }

  .secondary.button:hover {
    color: theme(color.secondary.200);
  }

  .secondary.submit.button {
    background-color: theme(color.secondary.default);
  }
  .secondary.submit.button:hover {
    background-color: theme(color.secondary.200);
  }
  .secondary.outlined.button {
    border-color: theme(color.secondary.default);
  }
  .secondary.outlined.button:hover {
    background-color: theme(color.secondary.default);
  }

  .ternary.button {
    color: theme(color.ternary.default);
  }

  .ternary.button:hover {
    color: theme(color.ternary.200);
  }

  .ternary.submit.button {
    background-color: theme(color.ternary.default);
  }
  .ternary.submit.button:hover {
    background-color: theme(color.ternary.200);
  }

  .ternary.outlined.button {
    border-color: theme(color.ternary.default);
  }
  .ternary.outlined:hover {
    background-color: theme(color.ternary.default);
  }

  .submit.button,
  .submit.button:hover {
    color: theme(color.light.default);
  }

  .outlined.button:hover {
    color: theme(color.light.default);
  }
}
