:root {
  --sito-ui-color-primary-text: #ededed;
  --sito-ui-color-primary-light: #d74d54;
  --sito-ui-color-primary-default: #cd212a;
  --sito-ui-color-primary-dark: #8f171d;

  --sito-ui-color-secondary-text: #f7f7f7;
  --sito-ui-color-secondary-light: #364b67;
  --sito-ui-color-secondary-default: #041e42;
  --sito-ui-color-secondary-dark: #02152e;

  --sito-ui-color-basics-text: #101010;
  --sito-ui-color-basics-light: #f7f7f7;
  --sito-ui-color-basics-default: #ededed;
  --sito-ui-color-basics-dark: #e1e1e1;

  --sito-ui-color-error-text: #f7f7f7;
  --sito-ui-color-error-light: #d63333;
  --sito-ui-color-error-default: #cc0000;
  --sito-ui-color-error-dark: #8e0000;

  --sito-ui-color-warning-text: #101010;
  --sito-ui-color-warning-light: #e2bf33;
  --sito-ui-color-warning-default: #dbaf00;
  --sito-ui-color-warning-dark: #997a00;

  --sito-ui-color-success-text: #f7f7f7;
  --sito-ui-color-success-light: #559b33;
  --sito-ui-color-success-default: #007733;
  --sito-ui-color-success-dark: #1e5b00;

  --sito-ui-color-info-text: #f7f7f7;
  --sito-ui-color-info-light: #3397b9;
  --sito-ui-color-info-default: #007ea8;
  --sito-ui-color-info-dark: #005875;

  --sito-ui-space-0: 0;
  --sito-ui-space-2: 0.5rem;
  --sito-ui-space-7: 1.75rem;

  --sito-ui-size-icon-button: 2.5rem;

  --sito-ui-radius-pill: 1.5rem;
  --sito-ui-radius-round: 100%;

  --sito-ui-border-width-medium: 2px;

  --sito-ui-font-weight-semibold: 600;
  --sito-ui-font-size-icon-button: 1.25rem;
  --sito-ui-line-height-icon-button: 1.75rem;

  --sito-ui-motion-duration-normal: 300ms;
  --sito-ui-motion-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);

  --sito-ui-button-disabled-opacity: 0.6;
  --sito-ui-button-hover-background: color-mix(
    in srgb,
    var(--sito-ui-button-light) 18%,
    transparent
  );
}
