@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  background: theme(color.dark.default);
}
.light body {
  background: theme(color.light.default);
}

.light * {
  color: theme(color.dark.default);
}

.dark * {
  color: theme(color.light.default);
}
