.sito-ui-icon-button {
  --sito-ui-icon-button-container-size: var(--sito-ui-size-icon-button-md);
  --sito-ui-icon-button-icon-size: var(--sito-ui-size-icon-button-icon);
  --sito-ui-size-button-spinner: var(--sito-ui-icon-button-icon-size);

  min-width: var(--sito-ui-icon-button-container-size);
  min-height: var(--sito-ui-icon-button-container-size);
  width: var(--sito-ui-icon-button-container-size);
  height: var(--sito-ui-icon-button-container-size);
  border-radius: var(--sito-ui-radius-round);
  padding: var(--sito-ui-space-0);
}

.sito-ui-icon-button--sm {
  --sito-ui-icon-button-container-size: var(--sito-ui-size-icon-button-sm);
}

.sito-ui-icon-button--md {
  --sito-ui-icon-button-container-size: var(--sito-ui-size-icon-button-md);
}

.sito-ui-icon-button--lg {
  --sito-ui-icon-button-container-size: var(--sito-ui-size-icon-button-lg);
}

.sito-ui-icon-button--with-content {
  width: auto;
  height: auto;
  padding: var(--sito-ui-button-padding-block)
    var(--sito-ui-button-padding-inline);
  border-radius: var(--sito-ui-radius-pill);
  font-size: var(--sito-ui-font-size-button);
  line-height: var(--sito-ui-line-height-button);
}

.sito-ui-icon-button__icon {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--sito-ui-icon-button-icon-size);
  height: var(--sito-ui-icon-button-icon-size);
  font-size: var(--sito-ui-icon-button-icon-size);
  line-height: 1;
}
