@tailwind components;

@layer components {
  .button {
    @apply flex items-center justify-center px-7 py-2 rounded-3xl transition duration-300 font-semibold cursor-default;
  }
  .outlined.button {
    @apply border-2;
  }

  /* INHERIT */

  .inherit.button *,
  .inherit.button {
    color: theme(colors.dark.default);
  }

  .inherit.button:hover *,
  .inherit.button:hover {
    color: theme(colors.dark.200);
  }

  .inherit.submit.button,
  .inherit.submit.button {
    color: theme(colors.dark.default);
    background-color: theme(colors.light.200);
  }

  .inherit.submit.button:hover,
  .inherit.submit.button:hover {
    background-color: theme(colors.light.default);
  }
  .inherit.outlined.button,
  .inherit.outlined.button {
    color: theme(colors.dark.default);
    border-color: theme(colors.light.200);
  }

  .inherit.outlined.button:hover,
  .inherit.outlined.button:hover {
    background-color: theme(colors.light.alter);
  }

  .dark .inherit.button *,
  .dark .inherit.button {
    color: theme(colors.light.default);
  }

  .dark .inherit.button:hover *,
  .dark .inherit.button:hover {
    color: theme(colors.light.200);
  }

  .dark .inherit.submit.button,
  .dark .inherit.submit.button {
    color: theme(colors.light.default);
    background-color: theme(colors.dark.alter);
  }

  .dark .inherit.submit.button:hover,
  .dark .inherit.submit.button:hover {
    background-color: theme(colors.dark.200);
  }
  .dark .inherit.outlined.button,
  .dark .inherit.outlined.button {

    border-color: theme(colors.dark.alter);
  }

  .dark .inherit.outlined.button:hover,
  .dark .inherit.outlined.button:hover {
    color: theme(colors.light.default);
    background-color: theme(colors.dark.200);
  }

  /* PRIMARY */

  .primary.button *,
  .primary.button,
  .dark .primary.button *,
  .dark .primary.button {
    color: theme(colors.primary.default);
  }
  .primary.button:hover *,
  .primary.button:hover,
  .dark .primary.button:hover *,
  .dark .primary.button:hover {
    color: theme(colors.primary.200);
  }

  .primary.submit.button,
  .primary.submit.button {
    color: theme(colors.light.default);
    background-color: theme(colors.primary.default);
  }

  .primary.submit.button:hover,
  .primary.submit.button:hover {
    background-color: theme(colors.primary.200);
  }
  .primary.outlined.button,
  .primary.outlined.button {
    border-color: theme(colors.primary.default);
  }

  .primary.outlined.button:hover,
  .primary.outlined.button:hover {
    color: theme(colors.light.default);
    background-color: theme(colors.primary.default);
  }

  /* SECONDARY */

  .secondary.button *,
  .secondary.button,
  .dark .secondary.button *,
  .dark .secondary.button {
    color: theme(colors.secondary.default);
  }

  .secondary.button:hover *,
  .secondary.button:hover,
  .dark .secondary.button:hover *,
  .dark .secondary.button:hover {
    color: theme(colors.secondary.200);
  }

  .secondary.submit.button,
  .secondary.submit.button {
    color: theme(colors.light.default);
    background-color: theme(colors.secondary.default);
  }

  .secondary.submit.button:hover,
  .secondary.submit.button:hover {
    background-color: theme(colors.secondary.200);
  }

  .secondary.outlined.button,
  .secondary.outlined.button {
    border-color: theme(colors.secondary.default);
  }

  .secondary.outlined.button:hover,
  .secondary.outlined.button:hover {
    color: theme(colors.light.default);
    background-color: theme(colors.secondary.default);
  }

  /* TERNARY */

  .ternary.button *,
  .ternary.button,
  .dark .ternary.button *,
  .dark .ternary.button {
    color: theme(colors.ternary.default);
  }

  .ternary.button:hover *,
  .ternary.button:hover,
  .dark .ternary.button:hover *,
  .dark .ternary.button:hover {
    color: theme(colors.ternary.200);
  }

  .ternary.submit.button,
  .ternary.submit.button {
    color: theme(colors.light.default);
    background-color: theme(colors.ternary.default);
  }

  .ternary.submit.button:hover,
  .ternary.submit.button:hover {
    background-color: theme(colors.ternary.200);
  }

  .ternary.outlined.button,
  .ternary.outlined.button {
    border-color: theme(colors.ternary.default);
  }

  .ternary.outlined:hover,
  .ternary.outlined:hover {
    color: theme(colors.light.default);
    background-color: theme(colors.ternary.default);
  }
}
