.error-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  min-height: 100vh;
  min-height: 100svh;
}

.s-error-icon {
  margin-right: 0.25rem;
}
