@tailwind components;

@layer components {
  .icon-button {
    min-width: theme(spacing.10);
    min-height: theme(spacing.10);
    @apply w-10 h-10 rounded-full text-xl p-0;
  }
  .icon-button:hover,
  .icon-button:hover {
    background-color: theme(colors.dark.default / 15%);
  }

  .primary.icon-button:hover,
  .primary.icon-button:hover {
    background-color: theme(colors.primary.500 / 15%);
  }

  .secondary.icon-button:hover,
  .secondary.icon-button:hover {
    background-color: theme(colors.secondary.500 / 15%);
  }
  .ternary.icon-button:hover,
  .ternary.icon-button:hover {
    background-color: theme(colors.ternary.500 / 15%);
  }
}
