.image {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@layer components {
  .box {
    background-image: linear-gradient(
      to right,
      theme(colors.light.default) calc(50% - 100px),
      theme(colors.light.dark) 50%,
      theme(colors.light.default) calc(50% + 100px)
    );
  }

  .dark .box {
    background-image: linear-gradient(
      to right,
      theme(colors.dark.default) calc(50% - 100px),
      theme(colors.dark.dark) 50%,
      theme(colors.dark.default) calc(50% + 100px)
    );
  }
}

.box {
  background-size: 0;
  opacity: 1;
  position: relative;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: calc(200% + 200px);
  bottom: 0;
  background-image: inherit;
  animation: move 2s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(calc(50% + 100px));
  }
}
