@tailwind components;

@layer components {
  .sub {
    @apply flex items-center justify-between px-3;
  }
  .input-control {
    @apply flex gap-1 items-start
    justify-start w-full;
  }
  .column {
    @apply flex-col;
  }

  .row {
    @apply flex-row;
  }

  .input-control textarea {
    @apply w-full px-4 py-2 rounded-xl resize-none;
  }

  .input-control input,
  .input-control select {
    @apply w-full px-4 py-2 rounded-3xl;
  }

  .input-control .sub {
    @apply w-full rounded-3xl relative;
  }

  .input-control textarea:focus-visible,
  .input-control textarea,
  .input-control input:focus-visible,
  .input-control input {
    outline: none !important;
  }

  .input-control .sub,
  .input-control textarea,
  .input-control input,
  .input-control select {
    color: theme(colors.dark.default);
    background-color: theme(colors.light.alter);
    @apply w-full;
  }

  .dark .input-control .sub,
  .dark .input-control textarea,
  .dark .input-control input,
  .dark .input-control select {
    color: theme(colors.light.default);
    background-color: theme(colors.dark.alter);
  }

  /* PRIMARY */
  /* LIGHT */
  .primary.input-control .sub,
  .primary.input-control textarea,
  .primary.input-control input,
  .primary.input-control select,
  /* DARK */
  .dark .primary.input-control .sub,
  .dark .primary.input-control textarea,
  .dark .primary.input-control input,
  .dark .primary.input-control select,

  /* SUB */


  .primary.input-control .sub,
  .primary.input-control textarea,
  .primary.input-control input,
  .primary.input-control select {
    background-color: theme(colors.primary.default);
  }

  /* SECONDARY */
  /* LIGHT */
  .secondary.input-control .sub,
  .secondary.input-control textarea,
  .secondary.input-control input,
  .secondary.input-control select,
  /* DARK */
  .dark .secondary.input-control .sub,
  .dark .secondary.input-control textarea,
  .dark .secondary.input-control input,
  .dark .secondary.input-control select,

  /* SUB */

  .secondary.input-control .sub,
  .secondary.input-control textarea,
  .secondary.input-control input,
  .secondary.input-control select {
    background-color: theme(colors.secondary.default);
  }

  /* TERNARY */
  /* LIGHT */
  .ternary.input-control .sub,
  .ternary.input-control textarea,
  .ternary.input-control input,
  .ternary.input-control select,
  /* DARK */
  .dark .ternary.input-control .sub,
  .dark .ternary.input-control textarea,
  .dark .ternary.input-control input,
  .dark .ternary.input-control select {
    color: theme(colors.light.default);
  }

  /* SUB */

  .ternary.input-control .sub,
  .ternary.input-control textarea,
  .ternary.input-control input,
  .ternary.input-control select {
    background-color: theme(colors.ternary.default);
  }
}
