@tailwind components;

@layer components {
  .input-control {
    @apply flex gap-1 items-start
    justify-start w-full;
  }
  .column {
    @apply flex-col;
  }

  .row {
    @apply flex-row;
  }

  .input-control textarea {
    @apply w-full px-4 py-2 rounded-xl resize-none;
  }

  .input-control input,
  .input-control select {
    @apply w-full px-4 py-2 rounded-3xl;
  }

  .input-control .sub {
    @apply w-full rounded-3xl;
  }

  .input-control textarea:focus-visible,
  .input-control textarea,
  .input-control input:focus-visible,
  .input-control input {
    outline: none !important;
  }

  .input-control .sub,
  .input-control textarea,
  .input-control input,
  .input-control select {
    color: theme(color.dark.default);
    background-color: theme(color.light.alter);
    @apply w-full;
  }

  .dark .input-control .sub,
  .dark .input-control textarea,
  .dark .input-control input,
  .dark .input-control select {
    color: theme(color.light.default);
    background-color: theme(color.dark.alter);
  }

  .dark .primary.input-control .sub,
  .dark .primary.input-control textarea,
  .dark .primary.input-control input,
  .dark .primary.input-control select,
  .light .primary.input-control .sub,
  .light .primary.input-control textarea,
  .light .primary.input-control input,
  .light .primary.input-control select {
    color: theme(color.light.default);
    background-color: theme(color.primary.default);
  }

  .light .secondary.input-control .sub,
  .light .secondary.input-control textarea,
  .light .secondary.input-control input,
  .light .secondary.input-control select,
  .dark .secondary.input-control .sub,
  .dark .secondary.input-control textarea,
  .dark .secondary.input-control input,
  .dark .secondary.input-control select {
    color: theme(color.light.default);
    background-color: theme(color.secondary.default);
  }

  .light .ternary.input-control .sub,
  .light .ternary.input-control textarea,
  .light .ternary.input-control input,
  .light .ternary.input-control select,
  .dark .ternary.input-control .sub,
  .dark .ternary.input-control textarea,
  .dark .ternary.input-control input,
  .dark .ternary.input-control select {
    color: theme(color.light.default);
    background-color: theme(color.ternary.default);
  }
}
