@tailwind components;

@layer {
  .notification {
    min-width: 150px;
    max-width: 300px;
  }

  .info.notification {
    background-color: theme(colors.info);
  }
  .warning.notification {
    background-color: theme(colors.warning);
  }
  .success.notification {
    background-color: theme(colors.success);
  }
  .error.notification {
    background-color: theme(colors.error);
  }
}
