.notification-portal {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 40;
  gap: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.notification-root {
  min-width: 160px;
  padding: 12px 16px 12px 16px;
  position: relative;
  border-radius: 100px;
  z-index: 10;
  gap: 8px;
  pointer-events: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-close-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
}

.close-notification-icon {
  width: 15px;
  height: 15px;
}
