@tailwind components;

@layer components {
  .check-input {
    @apply h-0 w-0 !hidden;
  }

  .switcher {
    width: 55px;
    height: 25px;
    border-radius: 100px;
    @apply transition duration-300 ease-in-out relative;
  }

  .ball {
    width: 20px;
    height: 14px;
    border-radius: 20px;
    top: 50%;
    transition: all 500ms ease;
    @apply absolute
  }

  .deactivated {
    transform: translate(20%, -50%);
  }

  .activated {
    transform: translate(150%, -50%);
  }
}
