@tailwind components;

@layer components {
  .check-input {
    height: 0;
    width: 0;
    display: none !important;
  }

  .switcher {
    width: 55px;
    height: 25px;
    border-radius: 100px;
    position: relative;
    @apply transition duration-300 ease-in-out;
  }

  /* PRIMARY */

  .primary.switcher {
    background-color: theme(colors.primary.default);
  }

  /* SECONDARY */

  .secondary.switcher {
    background-color: theme(colors.secondary.default);
  }

  /* TERNARY */

  .ternary.switcher {
    background-color: theme(colors.ternary.default);
  }

  .ball {
    width: 20px;
    height: 15px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    transition: all 500ms ease;
    background-color: theme(colors.light.alter);
  }

  .deactivated {
    transform: translate(20%, -50%);
  }

  .activated {
    transform: translate(150%, -50%);
  }
}
